{{ $watchUnits := getenv "ETCD_UNITS" }}
[
  null
  {{ range gets $watchUnits }}
  {{ $unitData := json .Value }}
  ,{
    "path" : "{{ .Key }}",
    "unit" : "{{ $unitData.unit }}",
    "version" : {
      "API_VERSION_CODE":"{{ $unitData.version.API_VERSION_CODE }}",
      "VERSION_CODE":"{{ $unitData.version.VERSION_CODE }}",
      "VERSION_TAG":"{{ $unitData.version.VERSION_TAG }}",
      "API_VERSION_TAG":"{{ $unitData.version.API_VERSION_TAG }}"
    },
    "type" : "{{ $unitData.type }}",
    "host" : "{{ $unitData.host }}",
    "ipv4_addr" : "{{ $unitData.ipv4_addr }}",
    "port" : "{{ $unitData.port }}"
  }
  {{ end }}
]
